{{- /* Secret environment variables from Bitwarden, listed in
       .chezmoidata/secrets.yaml. Only rendered while Bitwarden is unlocked;
       see .chezmoiignore. Sourced by ~/.zshrc. */ -}}
# Managed by chezmoi from Bitwarden. Don't edit: change .chezmoidata/secrets.yaml.
{{ range .secretEnv -}}
export {{ .name }}={{ (bitwarden "item" .item).login.password | squote }}
{{ end -}}
